:root {
  --bg-color: rgb(41, 40, 40);
  --bg-color-alpha-05: rgba(255, 255, 255, 0.5);
  --bg-color-alpha-03: rgba(255, 255, 255, 0.3);
  --bg-color-alpha-01: rgba(255, 255, 255, 0.1);
  --bg-color-alpha-005: rgba(255, 255, 255, 0.05);
  --color: white;
  --color-alpha-05: rgba(255, 255, 255, 0.5);
  --color-alpha-03: rgba(255, 255, 255, 0.3);
  --color-alpha-01: rgba(255, 255, 255, 0.1)
}

body[data-theme="light"] {
  --bg-color: rgb(255, 255, 255);
  --bg-color-alpha-05: rgba(41, 40, 40, 0.5);
  --bg-color-alpha-03: rgba(41, 40, 40, 0.3);
  --bg-color-alpha-01: rgba(41, 40, 40, 0.1);
  --bg-color-alpha-005: rgba(41, 40, 40, 0.05);
  --color: #292828;
  --color-alpha-05: rgba(0, 0, 0, 0.5);
  --color-alpha-03: rgba(0, 0, 0, 0.3);
  --color-alpha-01: rgba(0, 0, 0, 0.1)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.2s ease-in; */
}

a {
  color: var(--color);
  text-decoration-color: transparent;
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: var(--color);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
  font-weight: 300;
  font-size: 15px;
  margin: 0 20px;
}

button,
textarea,
input,
select {
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s ease-in;
  font-size: 15px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

header h1 {
  justify-content: center;
}

header i {
  font-size: 30px;
  margin-right: 12px;
}

header .logo-bold {
  font-weight: 300;
}

.dark-light {
  float: right;
  margin-top: 63px;
}

.dark-light button {
  background-color: transparent;
  border: none;
  color: var(--color);
  cursor: pointer;
  font-size: 20px;
}

h1 {
  font-size: 38px;
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 0 10px;
  margin: 0 20px;
  font-size: 23px;
}

.breadcrumb {
  padding: 60px 0 15px 0;
  color: var(--color-alpha-05);
  border-bottom: 1px solid var(--color-alpha-01);
}

.container-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.container-filters input {
  background-color: transparent;
  border: 1px solid var(--color-alpha-03);
  color: var(--color);
  border-radius: 20px;
  padding: 12px 25px;
  width: 180px;
}

.container-filters input:focus {
  outline: none;
  border: 1px solid var(--color);
  width: 250px;
}

.container-filters button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 40px;
  background-color: transparent;
  border: none;
  color: var(--color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
}

.container-filters button:disabled {
  background-color: var(--color);
  color: var(--bg-color);
}

.text-confesed-secrets {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  color: var(--color-alpha-05);
}

.text-search-match {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  color: var(--color);
  margin-top: 30px
}

.text-let-your-comment {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  color: var(--color);
  margin: 30px 0;
}

.secret-card {
  margin: 50px 0;
}

.secret-card .info {
  color: var(--color-alpha-05);
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.secret-card .title {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.secret-card button {
  background-color: transparent;
  border: none;
  color: var(--color);
  margin: 20px 0;
  cursor: pointer;
}

.secret-card button i {
  margin-right: 10px;
  transition: all 0.2s ease-in;
}

.secret-card .fa-fire {
  margin-right: 10px;
  color: orange;
}

.secret-card button:disabled i {
  color: #F16372;
}

.secret-card button:disabled {
  cursor: auto;
}

.secret-card .content {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}

.secret-card .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-alpha-01);
  padding-bottom: 25px
}

.comment-card textarea {
  background-color: transparent;
  border: 1px solid var(--color-alpha-03);
  color: var(--color);
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  resize: vertical;
}

.comment-card textarea::placeholder {
  color: var(--bg-color-alpha-03);
}

.comment-card textarea:focus {
  outline: none;
  border: 1px solid var(--color);
}

.comment-card .btn-comment {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  background-color: var(--color);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0 30px 0;
}

.comment-card .btn-comment:disabled {
  background-color: transparent;
  border: 1px solid var(--color-alpha-03);
  color: var(--color-alpha-05);
  cursor: auto;
}

.comment-card ul {
  list-style: none;
}

.comment-card li {
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: var(--bg-color-alpha-005);
  line-height: 30px;
}

.comment-card li p:first-child {
  font-size: 12px;
  opacity: 0.5;
}

.comment-card .actions {
  display: flex;
  justify-content: end;
}

.secret-form {
  margin: 50px 0 0 0;
  padding: 0 200px;
}

.secret-form label {
  display: block;
  margin: 20px 0 10px 0;
}

.secret-form .label-double {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.secret-form .label-double div {
  color: var(--color-alpha-05);
}

.secret-form input,
.secret-form textarea,
.secret-form select {
  background-color: transparent;
  border: 1px solid var(--color-alpha-03);
  color: var(--color);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.secret-form input::placeholder,
.secret-form textarea::placeholder,
.secret-form select::placeholder {
  color: var(--color-alpha-03);
}

.secret-form input:focus,
.secret-form textarea:focus,
.secret-form select:focus {
  outline: none;
  border: 1px solid var(--color);
}

.secret-form .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.secret-form .btn-confess {
  color: var(--bg-color);
  background-color: var(--color);
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px
}

.error {
  background-color: #F16372;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  height: 50vh;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.table-admin {
  margin: 50px 0 0 0;
  font-size: 13px;
  border-collapse: collapse;
  text-align: center;
}

.table-admin a {
  text-decoration: underline;
}

.table-admin td, .table-admin th {
  padding: 10px;
  border: 1px solid var(--color-alpha-01);
}

.table-admin button {
  background-color: transparent;
  border: none;
  color: #F16372;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {

  .container {
    width: 100%;
  }

  .container-filters{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-filters .filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container-filters input {
    width: 100%;
    margin-top: 30px;
  }

  .container-filters input:focus {
    width: 100%;
  }

  .secret-form {
    padding: 0
  }

}